.dashboard-container{
  max-width: 1200px;
  margin: 0 auto;
  padding: 64px 0;

  .list-container{
    display: flex;
    flex-wrap: wrap;
    width: 1200px;

    .list-column{
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      width: 600px;
    }

    .card-item{
      background-color: white;
      border-radius: 8px;
      box-shadow: 0 6px 16px rgba(46,125,239,0.16);
      padding: 24px 20px;
      margin: 12px 10px;
      box-sizing: border-box;
      display: flex;
    }
  }
}


.white{
  color: white;
}
.gray1{
  color: #eeeeee;
}
.gray2{
  color: #bbbbbb;
}
.gray3{
  color: #666666;
}
.gray4{
  color: #333333;
}
.coral{
  color: #FF6F61;
}
.yellow{
  color: #FFAD33;
}
.green{
  color: #23E05C;
}
.blue-bell{
  color: #85B6FD;
}
h1{
  font-size: 40px;
}
h2{
  font-size: 64px;
  line-height: 1em;
}
.small-text{
  font-size: 0.875rem;
  line-height: 0.875rem;
}